.footer {
  background-color: var(--background-card);
  transition: background 1s;
  color: var(--navbar-primary);
  text-align: center;
  padding: 25px;

  /* Apply only on mobile devices in portrait orientation */
  @media only screen and (max-width: 767px) and (orientation: portrait) {
    margin-top: 10vh;
    margin-bottom: 0; /* Reset margin-bottom */
  }

  /* Apply a different margin-top value for mobile devices in landscape orientation */
  @media only screen and (orientation: landscape) {
    margin-bottom: 0; /* Reset margin-bottom */
  }

  .socialMedia {
    margin-bottom: 5px;
    i {
      font-size: 2rem;
      margin: 0 5px;
      color: var(--text-secondary);
    }
  }

  small {
    font-size: 0.7rem;
  }
}
