.contactModal {
  text-align: center;
  border-radius: 5px;
  background-color: var(--background-card);
  padding: 1rem 1rem 3rem;
  overflow: auto;
  z-index: 3;
  position: fixed;
  max-width: 1200px;
  min-width: 340px;
  max-height: 100vh;
  min-height: 580px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contactModal .close {
  background: var(--background-card);
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: background-color var(--transition-speed) ease, transform var(--transition-speed) ease;
}

.contactModal .close:hover {
  background-color: var(--background-secondary);
  color: var(--transparent-primary);
  transform: scale(1.1);
}

.contactModal .inputField {
  margin: 25px 0;
}

.contactModal .inputField label {
  margin-bottom: 5px;
  text-align: left;
  display: block;
  color: var(--navbar-primary);
}

.contactModal .inputField input,
.contactModal .inputField textarea {
  color: var(--text-primary);
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--text-secondary);
}

.contactModal .inputField textarea {
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
  height: 175px;
}

.contactModal .inputField input:focus,
.contactModal .inputField textarea:focus {
  outline: none;
}

.contactModal .action {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
}

.contactModal .action i {
  font-size: 3.4rem;
  color: var(--background-secondary);
}

.contactModal .action .sendLink {
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .contactModal {
    min-width: 600px;
    overflow: hidden;
    padding: 2rem;
  }

  .contactModal .contactForm {
    display: flex;
    flex-direction: column;
    height: 425px;
  }

  .contactModal .row {
    display: flex;
    justify-content: center;
  }

  .contactModal .inputField {
    width: 100%;
  }

  .contactModal .action {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .contactModal {
    min-height: 500px;
    top: 45%;
    transform: translate(-50%, -45%);
  }
}

.contactLinks a {
  margin-right: 20px;
}

.contactLinks a i {
  font-size: 3rem;
}

.contactModalConfirmation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactModalConfirmation .linkedinLink i {
  font-size: 4rem;
}

.contactModalConfirmation .confirmationButton button {
  width: 100%;
}

.contactModalConfirmation .contactLinks {
  margin-top: 40px;
}
