/* Define styles for elements with the "greetings" class */
.greetings {
  padding: 50px 15px 20px;

  .row {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  @media only screen and (max-width: 767px) {
    .columnLeft {
      margin-top: 40px;
    }
  
    .columnRight.profilePic {
      max-width: 230px;
      max-height: 230px;
      margin: 0 auto 10px;
    }

    @media (orientation: landscape) {
      .columnLeft {
        margin-top: 20px; /* Increased margin-top to avoid overlapping */
      }

      .columnRight.profilePic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto 10px;
      }
    }
  }

  .columnLeft {
    order: 2;

    h1 {
      color: var(--navbar-primary);
      font-size: 2.5rem;
      margin: 0;
      text-align: left;

      @media only screen and (max-width: 767px) {
        font-size: 2.5rem;
        margin: 0;
        line-height: 1.2;
      }

      @media only screen and (max-width: 1601px) {
        line-height: 1.2;
        margin: 0;
      }
    }

    h2 {
      color: var(--navbar-primary);
      font-size: 1.8rem;
      margin: 0 2px;
      margin-bottom: 6px;
      text-align: left;
    }

    h3 {
      color: var(--text-secondary);
      margin: 0 5px;
      font-weight: 400;
      text-align: left;

      @media only screen and (max-width: 1601px) {
        line-height: 2.8;
      }

      @media only screen and (max-width: 767px) {
        line-height: 2.8;
        margin-bottom: -11px;
        margin-top: -4px;
      }
    }

    h5 {
      color: var(--text-secondary);
      font-size: 2.2rem;
      margin: 0;
      text-align: left;
    }

    .name {
      color: var(--background-secondary); /* Set the color for the name */
    }

    .punctuation {
      color: var(--navbar-primary); /* Set the color for the punctuation */
    }

    span {
      position: relative;
      top: 1px;
    }

    .socialMedia {
      margin-top: 20px;

      i {
        font-size: 2rem;
        margin: 0 5px;
        color: var(--navbar-primary);

        &:hover {
          color: var(--background-secondary);
        }
      }
    }

    .ctaButtons {
      margin-top: 30px;
      display: flex;

      &:first-child {
        margin-right: 15px;
      }

      button + button {
        margin-left: 15px;
      }

      @media only screen and (max-width: 767px) {
        margin-bottom: 5%; /* Adjust the margin below buttons for mobile */
      }
    }
  }

  @media only screen and (max-width: 767px) {
    margin-top: 0; /* Reset margin for mobile */
  }

  .columnRight {
    order: 1; /* Display order in flex layout */

    &.profilePic {
      text-align: center;
      margin: 20px auto 0; /* Reduced margin-top */

      .imageWrapper {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        width: 100%;
        max-width: 250px;
        max-height: 250px;
        aspect-ratio: 1 / 1; /* Ensure the wrapper maintains a square aspect ratio */
        margin: 0 auto;

        @media (min-width: 768px) {
          max-width: 350px;
          max-height: 350px;
        }

        img {
          border-radius: 50%;
          object-fit: cover;
          width: 100%; /* Ensure the image takes the full width of the wrapper */
          height: 100%; /* Ensure the image takes the full height of the wrapper */
        }
      }

      @media only screen and (max-width: 767px) {
        margin: 40px auto -10px; /* Reduced margin-top for mobile */
      }
    }
  }

  @media only screen and (min-width: 768px) {
    padding: 80px 25px 20px; /* Increased padding-top and reduced padding-bottom for larger screens */
    height: 90vh; /* Reduced height to occupy less of the viewport */
    margin-bottom: 2%; /* Reduced bottom margin */

    .container {
      height: 105%; /* Adjusted height to fit within the new hero size */
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .row {
      display: flex;
      flex-direction: row;
    }

    .columnLeft {
      order: 1; /* Display order in flex layout */
      align-self: center;
      display: flex;
      flex-direction: column;
      width: 55%; /* Adjust the size of the desktop profile image */
      margin-bottom: unset; /* Remove bottom margin */
      margin-top: 60px; /* Increased top margin */
      margin: auto; /* Center horizontally */

      h1 {
        font-size: 4rem;
        margin: -10px -5px 0 -5px; /* Reduced top margin and adjusted the distance between h1 and h2 */
        text-align: left;
      }

      h2 {
        font-size: 2.3rem;
        margin: 0;
        text-align: left;
      }

      h3 {
        font-size: 1.5rem;
        text-align: left;
      }

      h3, p {
        margin: -10px 2px;
        font-size: 1.2rem;
      }
    }

    .columnRight {
      order: 2;
      width: 38%;
      margin: auto;

      &.profilePic {
        margin: auto;
        margin-right: 5%;

        .imageWrapper {
          position: relative;
          border-radius: 50%;
          overflow: hidden;
          width: 100%;
          max-width: 460px;
          max-height: 460px;
          aspect-ratio: 1 / 1; /* Ensure the wrapper maintains a square aspect ratio */
          margin: 0 auto;

          img {
            border-radius: 50%;
            object-fit: cover;
            width: 100%; /* Ensure the image takes the full width of the wrapper */
            height: 100%; /* Ensure the image takes the full height of the wrapper */
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1600px) {
    padding: 100px 30px 25px;
    height: 95vh;
    margin-bottom: 3%;

    .container {
      height: 100%;
      max-width: 1400px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .row {
      display: flex;
      flex-direction: row;
    }

    .columnLeft {
      width: 60%;
      margin-top: auto; /* Reset top margin for very large screens */
      margin-left: 5%; /* Ensure the column retains its location */

      h1 {
        font-size: 4.5rem;
      }

      h2 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 1.7rem;
      }

      h3, p {
        font-size: 1.4rem;
      }
    }

    .columnRight {
      width: 40%;
      position: relative;
      margin-top: auto; /* Reset top position for very large screens */

      &.profilePic {
        margin: auto;
        margin-right: 5%; /* Ensure the profile picture retains its location */

        .imageWrapper {
          max-width: 500px;
          max-height: 500px;

          img {
            width: 100%; /* Ensure the image takes the full width of the wrapper */
            height: 100%; /* Ensure the image takes the full height of the wrapper */
          }
        }
      }
    }
  }

  // Move the declaration inside &{} to opt into the new behavior
  & {
    margin-bottom: 0;
  }
}
