/* Define styles for elements with the "greetings" class */
.greetings {
  padding: 50px 15px 20px; /* Increased padding-top and reduced padding-bottom for the entire container */

  /* Define styles for elements with the "row" class inside the "greetings" container */
  .row {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  /* Define mobile-specific styles using media queries */
  @media only screen and (max-width: 767px) {
    /* Styles for the element with the class "columnLeft" on mobile */
    .columnLeft {
      margin-top: 40px; /* Move the entire content down on mobile */
    }

    /* Styles for the element with the class "columnRight" and "profilePic" on mobile */
    .columnRight.profilePic {
      max-width: 350px;
      max-height: 350px;
      margin: 0 auto 10px; /* Adjusted the margin for mobile */
    }

    /* Media query for landscape orientation */
    @media (orientation: landscape) {
      .columnLeft {
        margin-top: 20px; /* Increased margin-top to avoid overlapping */
      }

      .columnRight.profilePic {
        max-width: 350px;
        max-height: 350px;
        margin: 0 auto 10px; /* Adjusted the margin for mobile landscape orientation */
      }
    }
  }

  /* Styles for the element with the class "columnLeft" in the "row" container */
  .columnLeft {
    order: 2; /* Display order in flex layout */

    /* Heading styles */
    h1 {
      color: var(--navbar-primary);
      font-size: 2.5rem;
      margin: 0;
      text-align: left; /* Left align the heading */

      /* Mobile-specific styles */
      @media only screen and (max-width: 767px) {
        font-size: 2.5rem; /* Reduce the font size for mobile */
        margin: 0; /* Remove the top margin */
        line-height: 1.2;
      }

      /* Adjust the line height to prevent line breaks between words only on screens smaller than 1600px in width */
      @media only screen and (max-width: 1601px) {
        line-height: 1.2;
        margin: 0;
      }
    }

    h2 {
      color: var(--navbar-primary);
      font-size: 1.8rem;
      margin: 0 2px;
      margin-bottom: 6px;
      text-align: left; /* Left align the heading */
    }

    h3 {
      color: var(--text-secondary);
      margin: 0 5px;
      font-weight: 400;
      text-align: left; /* Left align the heading */

      @media only screen and (max-width: 1601px) {
        line-height: 2.8;
      }

      @media only screen and (max-width: 767px) {
        line-height: 2.8;
        margin-bottom: -11px;
        margin-top: -4px;
      }
    }

    h5 {
      color: var(--text-secondary);
      font-size: 2.2rem;
      margin: 0;
      text-align: left; /* Left align the heading */
    }

    /* Styles for specific classes within the "columnLeft" container */
    .name {
      color: var(--background-secondary); /* Set the color for the brackets */
    }

    .punctuation {
      color: var(--navbar-primary); /* Set the color for the brackets */
    }

    span {
      position: relative;
      top: 1px;
    }

    /* Styles for social media icons */
    .socialMedia {
      margin-top: 20px;

      i {
        font-size: 2rem;
        margin: 0 5px;
        color: var(--navbar-primary);

        &:hover {
          color: var(--background-secondary);
        }
      }
    }

    /* Styles for call-to-action buttons */
    .ctaButtons {
      margin-top: 30px;
      display: flex;

      &:first-child {
        margin-right: 15px;
      }

      /* Adjust the margin between buttons */
      button + button {
        margin-left: 15px;
      }

      /* Mobile-specific styles */
      @media only screen and (max-width: 767px) {
        margin-bottom: 5%; /* Adjust the margin below buttons for mobile */
      }
    }
  }

  /* Mobile-specific styles for "greetings" container */
  @media only screen and (max-width: 767px) {
    margin-top: 0; /* Reset margin for mobile */
  }

  /* Styles for the element with the class "columnRight" */
  .columnRight {
    order: 1; /* Display order in flex layout */

    /* Styles for the element with the class "profilePic" inside "columnRight" */
    &.profilePic {
      max-width: 225px;
      max-height: 200px;
      text-align: center;
      margin: 20px auto 0; /* Reduced margin-top */

      /* Styles for images within the "profilePic" container */
      img {
        border-radius: 50%;
        object-fit: cover;
      }

      /* Mobile-specific styles for "profilePic" */
      @media only screen and (max-width: 767px) {
        margin: 40px auto 20px; /* Reduced margin-top for mobile */
      }
    }
  }

  /* Styles for screens with a minimum width of 768px */
  @media only screen and (min-width: 768px) {
    padding: 80px 25px 20px; /* Increased padding-top and reduced padding-bottom for larger screens */
    height: 90vh; /* Reduced height to occupy less of the viewport */
    margin-bottom: 2%; /* Reduced bottom margin */

    /* Styles for the element with the class "container" */
    .container {
      height: 105%; /* Adjusted height to fit within the new hero size */
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    /* Styles for the "row" container */
    .row {
      display: flex;
      flex-flow: row;
    }

    /* Styles for the element with the class "columnLeft" within the "row" container */
    .columnLeft {
      order: 1; /* Display order in flex layout */
      align-self: center;
      display: flex;
      flex-direction: column;
      width: 55%; /* Adjust the size of the desktop profile image */
      margin-bottom: unset; /* Remove bottom margin */
      margin-top: 60px; /* Increased top margin */
      margin: auto; /* Center horizontally */

      /* Heading styles */
      h1 {
        font-size: 4rem;
        margin: -10px -5px 0 -5px; /* Reduced top margin and adjusted the distance between h1 and h2 */
        text-align: left; /* Left align the heading */
      }

      h2 {
        font-size: 2.3rem;
        margin: 0;
        text-align: left; /* Left align the heading */
      }

      h3 {
        font-size: 1.5rem;
        text-align: left; /* Left align the heading */
      }

      /* Additional styles for paragraphs and text */
      h3, p {
        margin: -10px 2px;
        font-size: 1.2rem;
      }
    }

    /* Styles for the element with the class "columnRight" */
    .columnRight {
      order: 2; /* Display order in flex layout */
      width: 38%; /* Width of the column */
      margin: auto;

      /* Styles for the element with the class "profilePic" inside "columnRight" */
      &.profilePic {
        max-width: 460px;
        max-height: 460px;
        margin: auto;
        margin-right: 5%;

        /* Styles for images within the "profilePic" container */
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
