@import '../../styles/ui.scss'; // Adjust the path as needed

.card {
  border-radius: 8px;
  padding: 25px;
  background-color: var(--background-card);
  border: 1px solid var(--border-card);
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  min-height: 260px;
  text-align: center;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: transform $transition-speed ease, box-shadow $transition-speed ease;
  }

  h4 {
    color: var(--text-secondary);
    font-size: 1.15rem;
    margin-bottom: 1rem;
  }
}

.card p {
  color: var(--text-primary);
  margin-bottom: 1.5rem;
}

.card .cardContent {
  flex: 1; // Allow the content to grow and fill the space
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Ensure space is distributed evenly
  min-height: 120px; // Adjust the min-height as necessary
}

.card .metaInfo {
  display: flex;
  justify-content: center;
  gap: 20px; // Space between the date and reading time
  margin-top: auto; // Push meta info to the bottom

  .metaItem {
    display: flex;
    align-items: center;

    i {
      margin-right: 5px;
      color: var(--accent); // Red color for the icon
      line-height: 1; // Ensure icon aligns with text
    }

    p {
      margin: 0;
      color: var(--text-primary); // White color for the text
      font-weight: bold;
      line-height: 1; // Ensure text aligns with icon
    }
  }
}

.card .blogLinks {
  margin-top: 10px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: var(--navbar-primary);
    font-size: 1rem;
    margin: 5px 0;
    display: block;
    transition: color $transition-speed ease, transform $transition-speed ease, text-decoration $transition-speed ease;

    &:hover {
      color: var(--link-hover);
      transform: scale(1.1);
      text-decoration: underline;
    }
  }

  i {
    width: 20px;
    margin-right: 5px;
    color: var(--accent);
  }
}

@media only screen and (min-width: 768px) {
  .card {
    margin-bottom: 0;
  }
}
