.certs {
  padding: 50px 15px; /* Set padding for the certs container */
  border-radius: 12px; /* Rounded corners for a modern look */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.certs .scrollProgress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: var(--navbar-primary);
  z-index: 1000;
  transition: width 0.25s ease-out;
  overflow-x: auto; /* Enable horizontal scrolling */
  border-radius: 0 0 5px 5px; /* Rounded bottom corners */
}

.certs h1 {
  text-align: center;
  font-size: 2.3rem;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Apply gradient text effect */
  margin-top: 40px; /* Lower the title heading on mobile */
}

.certs .filter p {
  text-align: center;
  margin-top: -5px; /* Ensure the distance between the heading and filter text is identical to @allProjects.module.scss */
  font-weight: 600; /* Bold text for modern look */
  color: var(--text-primary); /* Primary text color */
}

.certs .filter p::after {
  content: ':';
  color: var(--accent); /* Apply accent color to the ":" symbol */
}

.certs .filterButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px; /* Use gap for spacing between buttons */
}

.certs .galleryWrap {
  margin-top: 50px;
}

.certs .gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px; /* Use gap for grid spacing */
}

@media (min-width: 768px) {
  .certs {
    padding: 150px 25px;
    min-height: 100vh;
    margin-bottom: 0;
  }

  .certs .container {
    max-width: 1200px;
    margin: auto;
  }

  .certs h1 {
    font-size: 3.8rem; /* Increase font size for larger screens */
    margin-top: -40px; /* Ensure the distance between the heading and filter is identical to @allProjects.module.scss */
  }

  .certs .filter {
    margin-top: -40px; /* Adjust the top margin for the filter section */
  }

  .certs .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1080px) {
  .certs .gallery {
    grid-template-columns: repeat(3, 1fr); /* Adjust grid columns for larger screens */
  }
}

@media (max-width: 767px) {
  .certs .scrollProgress {
    display: block; /* Ensure the progress bar is visible on mobile */
  }
}
