/* Card container styles */
.card {
  border-radius: 8px; /* Rounded corners for the card */
  padding: 25px; /* Padding inside the card */
  background-color: var(--background-card); /* Background color from CSS variable */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth background transition */
  border: 1px solid var(--border-card); /* Border color from CSS variable */
  margin-bottom: 25px; /* Space below each card */
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Column layout */
  min-height: 260px; /* Minimum height for the card */

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* More pronounced box shadow */
  }
}

.card h4 {
  margin: 0; /* Remove default margin */
  color: var(--text-secondary);
  font-size: 1.15rem;
  margin-bottom: 0;
}

.card time,
.card p {
  color: var(--text-primary);
}

.card .expires strong {
  color: var(--text-primary);
}

.card .expires strong:after {
  content: ':';
  color: var(--accent);
}

.card .expired strong {
  color: var(--accent);
}

.card .expired strong:after {
  content: ':';
  color: var(--text-primary);
}

.card .cardAction {
  display: flex; /* Flexbox layout */
  flex-direction: row; /* Row layout */
  margin-top: auto; /* Push to the bottom of the card */
}

.card .cardAction button {
  color: var(--accent);
  background: none; /* No background */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: inherit; /* Inherit font size */
  text-decoration: none; /* No text decoration */
  padding: 0; /* Remove default padding */
  transition: color 0.3s ease, transform 0.3s ease, text-decoration 0.3s ease; /* Smooth transitions */
}

.card .cardAction button:hover {
  color: var(--link-hover); /* Change color on hover */
  transform: scale(1.1);
  text-decoration: underline; /* Underline on hover */
}

.card .cardAction button i {
  color: var(--navbar-primary); /* Icon color from CSS variable */
  margin-right: 5px; /* Spacing between the icon and the text */
}

@media only screen and (min-width: 768px) {
  .card {
    margin-bottom: unset; /* Remove bottom margin */
  }
}

/* Modal Styles */
.modal {
  position: fixed; /* Fixed position */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the modal */
  background: var(--background-card); /* Background color from CSS variable */
  padding: 0; /* Remove default padding */
  z-index: 1000; /* Ensure modal is on top */
  width: 90%; /* Width of the modal */
  height: auto; /* Auto height */
  max-height: 95%; /* Maximum height */
  overflow: hidden; /* Hide overflow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  border-radius: 10px; /* Rounded corners */
  animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
}

@media (min-width: 768px) {
  .modal {
    width: 70%; /* Width of the modal */
    max-height: 85%; /* Maximum height */
  }
}

@media (min-width: 1024px) {
  .modal {
    width: 60%; /* Width of the modal */
    max-height: 80%; /* Maximum height */
  }
}

/* Overlay styles */
.overlay {
  position: fixed; /* Fixed position */
  top: 0; /* Top of the screen */
  left: 0; /* Left of the screen */
  right: 0; /* Right of the screen */
  bottom: 0; /* Bottom of the screen */
  background: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
  z-index: 999; /* Ensure overlay is below the modal */
  animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
}

/* Close button styles */
.closeButton {
  background: var(--background-card); /* Background color from CSS variable */
  border: none; /* No border */
  font-size: 1.5rem; /* Font size */
  position: absolute; /* Absolute position */
  top: 10px; /* Position from the top */
  right: 10px; /* Position from the right */
  cursor: pointer; /* Pointer cursor on hover */
  color: var(--text-primary);
  display: flex; /* Flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  width: 2.5rem; /* Width of the button */
  height: 2.5rem; /* Height of the button */
  border-radius: 50%; /* Rounded corners */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.closeButton:hover {
  background-color: var(--background-secondary); /* Background color on hover */
  transform: scale(1.1); /* Scale up on hover */
}

.closeButton:before {
  content: '✕'; /* Close icon */
  color: var(--text-primary); /* Icon color */
  font-weight: bold; /* Bold icon */
}

/* Certificate image styles */
.certImage {
  display: block; /* Block display */
  max-width: 100%; /* Maximum width */
  max-height: 100%; /* Maximum height */
  width: auto; /* Auto width */
  height: auto; /* Auto height */
  margin: 0 auto; /* Center horizontally */
  border-radius: 5px; /* Rounded corners */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    opacity: 1; /* End with full opacity */
  }
}
