.navbar {
  z-index: 2;
  height: 65px;
  width: 96%;
  position: fixed;
  transition: background 0.3s;

  &.sticky {
    position: fixed;
    top: 0;
    background-color: var(--transparent-primary);
    box-shadow: 0 6px 30px 2px rgb(0 0 0 / 3%), 0 3px 15px 1px rgb(0 0 0 / 2%),
      0 1px 8px 1px rgb(0 0 0 / 1%);
  }

  .container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 auto;
  }

  .logo {
    z-index: 3;
    font-weight: bold;
    background-color: transparent;
    color: var(--background-secondary);
    border-radius: 50%;
    padding: 5px;
    font-size: 1.0rem;
    width: 45px;
    height: 30px;
    box-shadow: none;
    margin-right: auto;

    transition: color 0.3s;

    &:hover {
      color: var(--navbar-primary);
    }
  }

  .navMenu {
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    padding-top: 65px;
    margin-left: auto;

    a {
      font-size: 1.3rem;
      color: var(--navbar-primary);
      border-bottom: 1px solid var(--border);
    }

    a:first-child {
      border-top: 1px solid var(--border);
    }

    .linkWrapper a:hover {
      color: var(--background-secondary);
    }

    &.responsive {
      height: auto;
      width: 100%;
      display: block;
      text-align: center;
      right: 0;
      background-color: var(--transparent-primary);

      a {
        display: block;
        padding: 25px 0;
      }
    }
  }

  .navContainer {
    position: relative;
    display: flex;
    align-items: center;

    .icon {
      cursor: pointer;
      background-color: transparent;
      border: none;

      i,
      svg {
        font-size: 1.5rem;
        color: var(--navbar-primary);
        padding: 5px;

        path {
          stroke: var(--navbar-primary);
        }
      }
    }

    .iconMain {
      height: 40px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0 auto;

    .container {
      max-width: 1400px;
      margin: auto;
      padding: 0 auto; /* Center content horizontally */
    }

    .navMenu {
      height: auto;
      display: flex;
      width: 90%;
      top: 0;
      padding-top: 0;
      position: static;

      &.responsive {
        width: 45%;
        display: flex;
        background-color: transparent !important;
      }

      .linkWrapper {
        padding: 0 auto; /* Center content horizontally */
        display: flex;
        justify-content: flex-end;
        width: 100%;

        a {
          margin-left: 20px;
          border-bottom: none;
          filter: drop-shadow(0px 3px 2px rgb(0 0 0 / 15%));
        }

        a:first-child {
          border-top: none;
          margin-left: 0;
        }
      }
    }

    .iconMain {
      display: none;
    }
  }
}

