/* Styles for the projectsGallery class */
.projectsGallery {
  padding: 50px 15px; /* Set padding for the projectsGallery container */
}

.projectsGallery .scrollProgress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: var(--navbar-primary);
  z-index: 1000;
  transition: width 0.25s ease-out;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.projectsGallery h1 {
  text-align: center;
  font-size: 2.3rem;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Apply gradient text effect */
  margin-top: 40px; /* Lower the title heading on mobile */
}

.projectsGallery .filter p {
  text-align: center;
  margin-top: -5px; /* Ensure the distance between the heading and filter text is identical to @allCerts.module.scss */
}

.projectsGallery .filter p::after {
  content: ':';
  color: var(--navbar-primary); /* Apply background-secondary color to the ":" symbol */
}

.projectsGallery .filterButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px; /* Use gap for spacing between buttons */
}

.projectsGallery .galleryWrap {
  margin-top: 50px; /* Set top margin for galleryWrap */
}

@media (min-width: 768px) {
  .projectsGallery {
    padding: 150px 25px; /* Adjust padding for larger screens */
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    margin-bottom: 0; /* Remove bottom margin */
  }

  .projectsGallery .container {
    max-width: 1200px;
    margin: auto; /* Center the container horizontally */
  }

  .projectsGallery h1 {
    font-size: 3.8rem; /* Increase font size for larger screens */
    margin-top: -40px; /* Ensure the distance between the heading and filter is identical to @allCerts.module.scss */
  }

  .projectsGallery .filter {
    margin-top: -30px; /* Reduce the distance between the filter and the title heading on desktop */
  }

  .projectsGallery .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px; /* Use gap for grid spacing */
  }

  .projectsGallery .gallery img {
    object-fit: cover; /* Ensure images cover the grid area */
    width: 100%;
    height: 300px; /* Set a fixed height for all images */
  }
}

@media (min-width: 1080px) {
  .projectsGallery .gallery {
    grid-template-columns: repeat(3, 1fr); /* Adjust grid columns for larger screens */
  }
}

@media (max-width: 767px) {
  .projectsGallery .gallery img {
    object-fit: cover; /* Ensure images cover the grid area */
    height: 200px; /* Adjust height for smaller screens */
  }

  .projectsGallery .scrollProgress {
    display: block; /* Ensure the progress bar is visible on mobile */
  }
}
