.card {
  border-radius: 5px; /* Rounded corners for the card */
  padding: 25px; /* Padding inside the card */
  background-color: var(--background-card); /* Background color from CSS variable */
  border: 1px solid var(--border-card); /* Border color from CSS variable */
  transition: background 1s; /* Smooth background transition */
  margin-bottom: 25px; /* Space below each card */
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Column layout */
  min-height: 260px; /* Minimum height for the card */
}

.card .image {
  display: flex; /* Flexbox layout */
  justify-content: center; /* Center the image horizontally */
}

.card .image img {
  border-radius: 4px; /* Rounded corners for the image */
  max-width: 320px; /* Ensure the image does not exceed the container width */
  max-height: 220px; /* Ensure the image does not exceed the container height */
  width: 100%; /* Ensure the image scales properly */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the container */
}

.card .placeholderContainer {
  margin: 20px 0; /* Vertical margin */
  width: 100%; /* Full width */
  max-height: 200px; /* Maximum height */
  display: flex; /* Flexbox layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.card .placeholderContainer .placeholder {
  text-align: center; /* Center text */
  margin: 100% 0; /* Vertical margin */
  color: #ffffff; /* Text color */
  font-weight: bold; /* Bold text */
  background-color: #8bb2c3; /* Background color */
  border-radius: 50%; /* Rounded corners */
  padding: 5px; /* Padding inside the placeholder */
  font-size: 1.5rem; /* Font size */
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  ); /* Gradient background */
  width: 200px; /* Width of the placeholder */
  height: 200px; /* Height of the placeholder */
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%); /* Box shadow for the placeholder */
}

.card h4 {
  margin: 0; /* Remove default margin */
  color: var(--text-secondary); /* Text color from CSS variable */
  text-align: center; /* Center text */
}

.card small {
  color: var(--navbar-primary); /* Text color from CSS variable */
  text-align: center; /* Center text */
}

.card p {
  color: var(--navbar-primary); /* Text color from CSS variable */
}

.card .projectLinks {
  margin-top: auto; /* Push to the bottom of the card */
  font-size: 0.9rem; /* Font size */
  display: flex; /* Flexbox layout */
  flex-direction: row; /* Row layout */
  justify-content: center; /* Center content horizontally */
}

.card .projectLinks a {
  margin-right: 15px; /* Space between links */
  color: var(--accent); /* Link color from CSS variable */
  display: block; /* Block display */
  margin-bottom: 10px; /* Space below each link */
}

.card .projectLinks a:hover {
  color: var(--link-hover); /* Change color on hover */
}

.card .projectLinks i {
  width: 20px; /* Icon width */
  margin-right: 5px; /* Space between icon and text */
  color: var(--navbar-primary); /* Icon color from CSS variable */
}

@media only screen and (min-width: 768px) {
  .card {
    margin-bottom: unset; /* Remove bottom margin on larger screens */
  }
}
