.projectDetail {
  // Refactored common text styles into a mixin for reusability
  @mixin text-styles($color, $margin-bottom: null, $font-size: null) {
    color: $color;
    @if $margin-bottom {
      margin-bottom: $margin-bottom;
    }
    @if $font-size {
      font-size: $font-size;
    }
  }

  h1 {
    @include text-styles(var(--text-secondary), 0);
  }

  h2 {
    @include text-styles(var(--text-secondary), null, 1.3rem);
  }

  small {
    @include text-styles(var(--text-primary), 25px);
    display: block;
  }

  a {
    color: var(--text-tertiary);
  }

  strong {
    background: #cecece;
    padding: 0 4px;
    border-radius: 4px;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
  }

  .card, .description {
    border-radius: 5px;
    padding: 25px;
    background-color: var(--background-card);
    transition: background 1s;
    border: 1px solid var(--border-card);
    margin: 25px 0;
    display: flex;
    flex-direction: column;
  }

  .card {
    h4 {
      @include text-styles(var(--text-secondary), 0);
    }

    time {
      color: var(--text-tertiary);
    }

    .cardAction {
      display: flex;
      flex-direction: row;
      margin-top: auto;

      a {
        color: var(--accent);
      }
    }
  }

  .projectImage {
    display: flex;
    justify-content: center;  // Center horizontally
    align-items: center;     // Center vertically

    // For mobile screens (up to 768px)
    @media only screen and (max-width: 768px) {
      height: 360px;  // Adjust the height as needed
    }

    // For desktop screens (greater than 768px)
    @media only screen and (min-width: 768px) {
      height: 500px;  // Adjust the height as needed
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .projectLinks {
    display: flex;
    flex-direction: row;
    margin-top: auto;

    a {
      margin-right: 15px;
      color: var(--accent);
    }

    a:hover {
      color: var(--text-primary);
    }

    i {
      margin-right: 5px;
      color: var(--text-primary);
    }
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  // Code collapse
  details > summary span {
    transition: all 0.3s;
    margin-left: 5px;
  }

  details[open] summary span {
    transform: rotate(90deg);
  }

  summary {
    display: flex;
    width: 100px;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }
}
