.projectDetail {
  // Mixin for common text styles to ensure reusability
  @mixin text-styles($color, $margin-bottom: null, $font-size: null) {
    color: $color;
    @if $margin-bottom {
      margin-bottom: $margin-bottom;
    }
    @if $font-size {
      font-size: $font-size;
    }
  }

  // Styles for heading elements
  h1, h2 {
    @include text-styles(var(--text-secondary));
  }

  h1 {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.3rem;
  }

  // Styles for small elements
  small {
    @include text-styles(var(--navbar-primary), 25px);
    display: block;
  }

  // Styles for anchor elements
  a {
    color: var(--accent);
  }

  // Styles for strong elements
  strong {
    background: #cecece;
    padding: 0 4px;
    border-radius: 4px;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
  }

  // Common styles for card and description classes
  .card,
  .description {
    border-radius: 5px;
    padding: 25px;
    background-color: var(--background-card);
    transition: background 1s;
    border: 1px solid var(--border-card);
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    color: var(--navbar-primary);
  }

  // Specific styles for card class
  .card {
    h4 {
      @include text-styles(var(--text-secondary), 0);
    }

    time {
      color: var(--text-tertiary);
    }

    .cardAction {
      display: flex;
      flex-direction: row;
      margin-top: auto;

      a {
        color: var(--accent);
      }
    }
  }

  // Styles for projectImage class
  .projectImage {
    display: flex;
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
    width: 100%; // Ensure the image container takes full width
    height: auto; // Set a fixed height for the image container

    img {
      width: 100%;
      height: 100%;
      object-fit: contain; // Ensure the image covers the container
    }
  }

  // Styles for projectLinks class
  .projectLinks {
    display: flex;
    flex-direction: row;
    margin-top: auto;

    a {
      margin-right: 15px;
      color: var(--accent);

      &:hover {
        color: var(--link-hover);
      }
    }

    i {
      margin-right: 5px;
      color: var(--navbar-primary);
    }
  }

  // Media query for screens with a minimum width of 768px
  @media only screen and (min-width: 768px) {
    .projectDetail {
      margin-bottom: 0;
    }
  }

  // Styles for code collapse functionality
  details > summary span {
    transition: all 0.3s;
    margin-left: 5px;
  }

  details[open] summary span {
    transform: rotate(90deg);
  }

  summary {
    display: flex;
    width: 100px;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }
  }

  // Ensure new behavior
  .projectDetail {
    margin-bottom: 0;
  }
}
