.projectDetail {
  // Mixin for common text styles to ensure reusability
  @mixin text-styles($color, $margin-bottom: null, $font-size: null) {
    color: $color;
    @if $margin-bottom {
      margin-bottom: $margin-bottom;
    }
    @if $font-size {
      font-size: $font-size;
    }
  }

  // Styles for h1 elements
  h1 {
    @include text-styles(var(--text-secondary), 0);
  }

  // Styles for h2 elements
  h2 {
    @include text-styles(var(--text-secondary), null, 1.3rem);
  }

  // Styles for small elements
  small {
    @include text-styles(var(--navbar-primary), 25px);
    display: block;
  }

  // Styles for anchor elements
  a {
    color: var(--accent);
  }

  // Styles for strong elements
  strong {
    background: #cecece;
    padding: 0 4px;
    border-radius: 4px;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
  }

  // Common styles for card and description classes
  .card,
  .description {
    border-radius: 5px;
    padding: 25px;
    background-color: var(--background-card);
    transition: background 1s;
    border: 1px solid var(--border-card);
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    color: var(--navbar-primary);
  }

  // Specific styles for card class
  .card {
    // Styles for h4 elements inside card
    h4 {
      @include text-styles(var(--text-secondary), 0);
    }

    // Styles for time elements inside card
    time {
      color: var(--text-tertiary);
    }

    // Styles for cardAction class inside card
    .cardAction {
      display: flex;
      flex-direction: row;
      margin-top: auto;

      // Styles for anchor elements inside cardAction
      a {
        color: var(--accent);
      }
    }
  }

  // Styles for projectImage class
  .projectImage {
    display: flex;
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
  }

  // Styles for img elements inside projectImage
  .projectImage img {
    max-width: 100%;
    max-height: 100%;
  }

  // Media query for mobile screens (up to 768px)
  @media only screen and (max-width: 768px) {
    .projectImage {
      height: 360px; // Adjust the height as needed
    }
  }

  // Media query for desktop screens (greater than 768px)
  @media only screen and (min-width: 768px) {
    .projectImage {
      height: 500px; // Adjust the height as needed
    }
  }

  // Styles for projectLinks class
  .projectLinks {
    display: flex;
    flex-direction: row;
    margin-top: auto;
  }

  // Styles for anchor elements inside projectLinks
  .projectLinks a {
    margin-right: 15px;
    color: var(--accent);
  }

  // Hover effect for anchor elements inside projectLinks
  .projectLinks a:hover {
    color: var(--link-hover);
  }

  // Styles for i elements inside projectLinks
  .projectLinks i {
    margin-right: 5px;
    color: var(--navbar-primary);
  }

  // Media query for screens with a minimum width of 768px
  @media only screen and (min-width: 768px) {
    .projectDetail {
      margin-bottom: 0;
    }
  }

  // Styles for code collapse functionality
  details > summary span {
    transition: all 0.3s;
    margin-left: 5px;
  }

  // Rotate span inside summary when details is open
  details[open] summary span {
    transform: rotate(90deg);
  }

  // Styles for summary elements
  summary {
    display: flex;
    width: 100px;
    cursor: pointer;
  }

  // Hide default marker for summary elements
  summary::-webkit-details-marker {
    display: none;
  }

  // Ensure new behavior
  .projectDetail {
    margin-bottom: 0;
  }
}
