button {
  cursor: pointer;
  outline: none;
  border: none;
}

.btn {
  width: 100%;
  text-align: center;
  border-radius: 25px;
  padding: 13px 25px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);

  &.active {
    color: black;
    background-color: var(--background-secondary);
  }

  &.sm {
    width: unset;
    padding: 5px 10px;
  }
}

.btn-outlined {
  color: var(--background);
  background-color: var(--navbar-primary);
  border: 1px solid var(--button-border);
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 5px 0; /* Add margin to separate buttons */

  &:hover {
    background-color: var(--background-secondary);
  }
}

.btn-filled {
  color: var(--navbar-primary);
  background-color: transparent;
  border: 1px solid var(--background-secondary);
  font-size: 1rem;
  font-weight: 700;

  &:hover {
    background-color: var(--background-secondary); // Set the background color to #bcfe00 on hover
    color: #22272e;
  }
}

@media only screen and (min-width: 480px) {
  .btn {
    width: unset;
  }
}

.btn-filled-project {
  color: var(--navbar-primary);
  background-color: transparent;
  border: 1px solid var(--background-secondary);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 10px; /* Default margin */

  &:hover {
    background-color: var(--background-secondary);
    color: #22272e;
  }

  /* Media query for screens with a maximum width of 768px (typical for mobile devices) */
  @media (max-width: 768px) {
    margin-top: 45px; /* Adjust margin for mobile screens */
  }
}
