// Light theme variables
:root {
  --background: #f5f5f5; // Light background color
  --background-card: #ffffff; // Card background color
  --background-secondary: #f652a0; // Secondary background color
  --text-primary: #4d5270; // Primary text color
  --text-secondary: #f652a0; // Secondary text color
  --text-tertiary: #8bb2c3; // Tertiary text color
  --accent: #f652a0; // Accent color
  --accent-secondary: #6464640d; // Secondary accent color
  --transparent-primary: #fffffff2; // Primary transparent color
  --transparent-secondary: #fffffffc; // Secondary transparent color
  --border: #f8f8f8; // Border color
  --border-light: #6464640d; // Light border color
  --border-card: #cecece; // Card border color
  --button-color: #687886; // Button color
  --button-border: #68788663; // Button border color
  --gradient-primary: #8bb2c3; // Primary gradient color
  --gradient-secondary: #8bb2c3; // Secondary gradient color
  --navbar-primary: #4d5270; // Navbar primary color
  --text-gradient: linear-gradient(180deg, var(--accent), #8b3dff); // Text gradient
  --link-hover: #8b3dff; // Link hover color
}

// Dark theme variables
[data-theme='dark'] {
  --background: #1E2533; // Dark background color
  --background-card: #272E3B; // Card background color
  --background-secondary: #bcfe00; // Secondary background color
  --text-primary: #adbac7; // Primary text color
  --text-secondary: #bcfe00; // Secondary text color
  --text-tertiary: #8bb2c3; // Tertiary text color
  --accent: #ff787e; // Accent color
  --accent-secondary: #bdff00; // Secondary accent color
  --transparent-primary: #272E3Bed; // Primary transparent color
  --transparent-secondary: #242729fc; // Secondary transparent color
  --border: #4b5154; // Border color
  --border-light: #ffffff0d; // Light border color
  --border-card: #4b5154; // Card border color
  --button-color: #bcfe00; // Button color
  --button-border: #68788663; // Button border color
  --gradient-primary: #8bb2c3; // Primary gradient color
  --gradient-secondary: #8bb2c3; // Secondary gradient color
  --navbar-primary: #ffffff; // Navbar primary color
  --text-gradient: linear-gradient(180deg, var(--accent-secondary), #7ef5de); // Text gradient
  --link-hover: #ffffff; // Link hover color
}
