@import './colors';
@import './buttons';
@import './swiper';
@import './utils';
@import './ui';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

pre {
  span {
    font-family: 'Fira Code', monospace;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 2rem;
  color: var(--text-secondary);
}

h3,
h4 {
  color: var(--text-secondary);
}

/* Adding modal-open class for body to manage scrollbar width */
body.modal-open {
  overflow: hidden;
  padding-right: 15px; /* Adjust this value to match your scrollbar width */
}
