/* Styles for the .about section */
.about {
  padding: 60px 15px; /* Reduced padding to remove some blank space from the top */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh; /* Reduced min-height to decrease blank space */

  /* Styles for links within the section */
  a {
    font-size: 1.3rem;
    color: var(--accent);
  }

  h2 {
    font-size: 2.3rem; /* Default font size for mobile */
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: 30px; /* Lower the title heading on mobile */
  }

  .columnLeft {
    margin: auto;
    margin-bottom: auto; /* Adjust margin as needed */

    h1 {
      color: var(--navbar-primary);
      font-size: 1.5rem;
      /* filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.15));*/
      margin: 0;
      margin-bottom: 25px; /* Add margin to create spacing between h1 and p */
    }

    .h3 {
      color: var(--navbar-primary);
      font-size: 1.3rem;
      /* filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.15));*/
      margin: 0;
      font-weight: 400;
    }

    p {
      font-size: 1.3rem;
      padding-bottom: 1.5rem; /* Add padding to create spacing between paragraphs */
    }
  }

  .columnRight {
    .imageContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 60px; /* Reduced margin to decrease blank space */

      img {
        border-radius: 50%;
      }
    }

    .quote {
      text-align: center;
      margin-top: 25px;
      font-style: italic;
      position: relative;

      .tooltip {
        position: absolute;
        display: flex;
        align-items: center;
        visibility: hidden;
        width: 340px;
        background-color: var(--background-card);
        border: 1px solid var(--border-card);
        color: var(--text-secondary);
        font-size: 0.85rem;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -170px;
      }
    }

    /* Show the tooltip on hover */
    .quote:hover {
      .tooltip {
        visibility: visible;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    padding: 70px 25px 10px; /* Reduced padding on top for desktop view */
    min-height: 80vh; /* Further reduced min-height to decrease blank space */
    margin-bottom: 0;

    .container {
      max-width: 1200px;
      margin: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /*margin-top: 8.5%;*/
    }

    .row {
      display: flex;
    }

    h2 {
      font-size: 3.5rem; /* Font size for desktop view */
      margin-top: 20%; /* Lower the title heading on desktop */
    }

    .columnLeft {
      align-self: center;
      width: 60%;
      display: flex;
      flex-direction: column;
      padding-right: 100px;
      font-size: 1rem; /* Adjust font size if needed */
    }

    .columnRight {
      width: 40%;
      margin: auto;

      .imageContainer {
        margin-top: -90px; /* Move the image up on desktop view */
        margin-bottom: 0; /* Ensure the image container margin is centered */
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}